<template>
    <div class="answerForm">
        <div class="bg">
            <NavBar></NavBar>
            <div class="overlay">
                <div class="container form">
                    <div class="blur"></div>
                    <h1 v-if="course && course.name">{{ course.name }}</h1>
                    <h2 class="survey-type">
                        {{ poll.type }} #{{ poll.week }}
                    </h2>
                    <h3 class="survey-title">{{ poll.topic }}</h3>
                    <div class="form">
                        <form id="survey-form" @submit="submitHandler">
                            <AnswerInputField
                                v-for="(question, i) in questions"
                                :question="question"
                                :i="i"
                                :change-question="changeQuestion"
                            ></AnswerInputField>

                            <input v-if="isStudent" id="submit" type="submit" value="Submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import NavBar from "../components/NavBar.vue";
import { fetchPoll } from "../services/polls";
import { fetchCourse } from "../services/courses";
import AnswerInputField from "../components/AnswerInputField";
import router from "../router";
import { postAnswers } from "../services/answers";
import store from "../store.js";
// @ is an alias to /src
export default {
    name: "answer",
    components: {
        NavBar,
        AnswerInputField
    },
    data() {
        return {
            poll: "",
            questions: [],
            answers: [],
            course: null,
            form: null,
            i: 0
        };
    },
    created() {
        fetchPoll(this.$route.params.id, this.$route.params.key)
            .then(response => {
                // handle success
                console.log(response.data);
                this.poll = response.data;
                this.questions = response.data.questions;
                // console.log(response.data.questions);
                this.answers = [];

                for (let i = 0; i < this.questions.length; i++) {
                    let element = {};
                    element.id = this.questions[i].id;
                    element.value = "";
                    this.answers.push(element);
                }
                console.log(this.answers);
            })
            .catch(error => {
                // handle error
                console.log(error);
            })
            .then(() => {
                fetchCourse(this.$route.params.id)
                    .then(response => {
                        // handle success
                        console.log(response.data);
                        this.course = response.data;
                    })
                    .catch(error => {
                        // handle error
                        console.log(error);
                    })
                    .then(() => {
                        // always executed
                    });
            });
    },
    computed: {
        isStudent() {
            return (store.getters.getType === "student");
        }
    },
    methods: {
        submitHandler(e) {
            if (!this.isStudent) {
                e.preventDefault();
                return;
            }
            // console.log(this.$route.params.key, this.answers);
            e.preventDefault();
            postAnswers(
                this.$route.params.id,
                this.$route.params.key,
                this.answers
            )
                .then(response => {
                    console.log(response);
                    router.push({ name: "home" });
                })
                .catch(error => {
                    // handle error
                    console.log(error.response);
                });
            return false;
        },
        changeQuestion(id, new_value) {
            this.answers[id].value = new_value;
        }
    }
};
</script>

<style lang="scss">
@import "../../public/styles/login.scss";
h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 2rem;
}

input[type="submit"] {
    width: 50%;
    background-color: #33c6b7;
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    padding: 12px;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    margin-top: 30px;
    margin: 0 auto;
}

input[type="submit"]:hover {
    background-color: #2eb2a4;
    transition: background-color 0.2s;
}

.bg {
    background: url("../../public/images/backgrounds/Innopolis_University.jpg")
        center center no-repeat;
    background-size: cover;
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
}

.overlay {
    min-height: 100vh;
    position: initial !important;
    background-color: rgba(0, 0, 0, 0.5);

    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: scroll;
}

.container.form {
    margin-top: 100px;
}
</style>
