<template>
    <div class="authorization">
        <div class="bg">
            <NavBar></NavBar>
            <div class="overlay">
                <div class="content">
                    <div class="container form">
                        <div class="blur"></div>
                        <div class="header">
                            <div class="caption">
                                <h1>Login</h1>
                            </div>
                        </div>

                        <div v-if="errorStatus" class="errors">
                            Uncorrect email or password
                        </div>

                        <div class="form">
                            <form autocomplete="off" @submit.prevent="login">
                                <div class="group">
                                    <input
                                        type="email"
                                        name="username"
                                        v-model="email"
                                        required
                                    />
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Email</label>
                                </div>

                                <div class="group">
                                    <input
                                        type="password"
                                        name="password"
                                        v-model="password"
                                        required
                                    />
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Password</label>
                                </div>

                                <div class="form-group">
                                    <button>Login</button>
                                </div>

                                <router-link class="link" :to="'/registration'"
                                    >Haven't got account?</router-link
                                >
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import NavBar from "../components/NavBar";
import {AUTH_REQUEST, SET_TYPE} from "../store/actions/auth";
import {getUserTypeBD} from "../services/auth";

export default {
    name: "authorization",
    component: {
        NavBar
    },
    data() {
        return {
            email: "",
            password: "",
            errorStatus: false
        };
    },
    methods: {
        login: function() {
            const username = this.email;
            const password = this.password;
            this.$store
                .dispatch(AUTH_REQUEST, { username, password })
                .then(() => {
                    getUserTypeBD()
                        .then(response => {
                            // handle success
                            // console.log(response.data);
                            var type = response.data;
                            this.$store.dispatch(SET_TYPE, type);
                        })
                        .catch(error => {
                            // handle error
                            console.log(error);
                        })
                        .then(() => {
                            // always executed
                        });
                    this.$router.push("/");
                })
                .catch(error => {
                    // handle error
                    console.log(error);
                    console.log(error.response.status);
                    if (error.response.status == 400) {
                        this.errorStatus = true;
                    }
                });
        }
    }
};
</script>

<style lang="scss">
@import "../../public/styles/login.scss";
.bg {
    background: url("../../public/images/backgrounds/Innopolis_University.jpg")
        center center no-repeat;
    background-size: cover;
}
.errors {
    color: #ffffff;
    z-index: 10;
    font-family: Verdana, Geneva, sans-serif;
}
@media screen and (max-width:978px) {
    .container.form {
        width: 100%;
    }
    .group {
        max-width: 250px !important;
    }
}
</style>
