<template>
    <div class="course">
        <div class="bg">
            <NavBar></NavBar>
            <div class="overlay">
                <div class="container form-cards">
                    <h1 v-if="course">{{ course.name }}</h1>
                    <p v-if="course">{{ course.prof }}</p>
                    <button v-if="!isStudent" class="btn" @click="toggleTemplatesAndPolls">{{type}}</button>
                    <div v-if="course && (isStudent || (!isStudent && !areTemplates))" class="row">
                        <FormCard
                            v-for="form of forms"
                            :form="form"
                            :course="course"
                        ></FormCard>
                        <FormCard v-if="!isStudent && haveType" :course="course"></FormCard>
                    </div>
                    <h3 v-if="!forms.length && isStudent">No polls</h3>

                    <div v-if="!isStudent">
                        <div v-if="course && areTemplates" class="row">
                            <TemplateCard
                                    v-for="template of templates"
                                    :template="template"
                                    :course="course"
                            ></TemplateCard>
                            <TemplateCard v-if="isAdministrator && haveType" :course="course"></TemplateCard>
                        </div>
                        <h3 v-if="!forms.length && isStudent">No templates</h3>
                    </div>
                </div>


            </div>
        </div>
    </div>
</template>

<script>
import NavBar from "@/components/NavBar.vue";
import FormCard from "@/components/FormCard.vue";
import TemplateCard from "@/components/TemplateCard.vue";
// import FormCard from "../components/FormCard";
import store from "../store.js";
import { fetchCourse } from "../services/courses";
import { fetchForms, fetchTemplates } from "../services/polls";
// @ is an alias to /src
export default {
    name: "course",
    components: {
        NavBar,
        FormCard,
        TemplateCard
    },
    data() {
        return {
            course: null,
            forms: [],
            templates: [],
            feedback: [],
            areTemplates: false,
            type: "Polls"
        };
    },
    created() {
        fetchCourse(this.$route.params.key)
            .then(response => {
                // handle success
                // console.log(response.data);
                this.course = response.data;
            })
            .catch(error => {
                // handle error
                console.log(error);
            })
            .then(() => {
                // always executed
            });

        fetchForms(this.$route.params.key)
            .then(response => {
                // handle success
                // console.log(response.data);
                this.forms = response.data;
            })
            .catch(error => {
                // handle error
                console.log(error);
            })
            .then(() => {
                console.log("forms:\n");
                console.log(this.forms);
            });

        fetchTemplates(this.$route.params.key)
            .then(response => {
                // handle success
                // console.log(response.data);
                this.templates = response.data;
            })
            .catch(error => {
                // handle error
                console.log(error);
            })
            .then(() => {
                // always executed
            });

       // this.fullTemplates();

        // fetchAnswers(this.$route.params.key)
        //     .then(response => {
        //         // handle success
        //         console.log(response.data);
        //         this.feedback = response.data;
        //     })
        //     .catch(error => {
        //         // handle error
        //         console.log(error);
        //     })
        //     .then(() => {
        //         // always executed
        //     });
    },
    methods: {
        fullTemplates() {
            this.templates.push({name: "template name", type: "Lecture", _key: "51"});
            this.templates.push({name: "template name 2", type: "Not Lecture", _key: "22"},);
            // console.log(this.templates[0]);
        },
        toggleTemplatesAndPolls() {
            this.areTemplates = !this.areTemplates
            if (this.areTemplates) {
                this.type = "Templates"
            } else {
                this.type = "Polls"
            }
        }
    },
    computed: {
      isStudent() {
        return store.getters.getType === "student";
      },
        haveType() {
            var type = store.getters.getType
            return ((type === "administrator") || (type === "student") || (type === "professor"));
        },
        isAdministrator() {
            var type = store.getters.getType
            return (type === "administrator");
        }
    }
};
</script>

<style>
.bg {
    background: url("../../public/images/backgrounds/Innopolis_University.jpg")
        center center no-repeat;
    background-size: cover;
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
}

.overlay {
    min-height: 100vh;
    position: initial !important;
    background-color: rgba(0, 0, 0, 0.5);

    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: scroll;
}
</style>
