<template>
    <div class="home">
        <div class="bgded">
            <NavBar></NavBar>
            <div class="overlay">
                <div id="pageintro" class="hoc clear">
                    <!-- ################################################################################################ -->
                    <article>
                        <h3 class="heading">Feedback Quality Assessment</h3>
                        <p>
                            <q
                                >Failure is the opportunity to begin again more
                                intelligently.</q
                            >
                            – Henry Ford
                        </p>
                        <footer>
                            <a href="#courses">
                                <div v-if="isAuthenticated" class="btn">
                                    Get started
                                </div>
                            </a>
                            <router-link
                                v-if="!isAuthenticated"
                                :to="'/authorization'"
                                class="btn"
                                >Get started</router-link
                            >
                        </footer>
                    </article>
                    <!-- ################################################################################################ -->
                </div>
            </div>
        </div>
        <div class="container info">
            <p>
                Welcome to Feedback Quality Assessment project that was created
                in order to improve our education system. This service provide
                opportunity for professor get feedback about their courses and
                for students help in process of improving the courses.
            </p>
        </div>

        <div
            v-if="isAuthenticated && haveType"
            class="bgded"
            id="courses"
            name="courses"
        >
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <CourseCard
                            v-for="course of courses"
                            :course="course"
                        ></CourseCard>
                        <CourseCard v-if="!isNotAdministrator"></CourseCard>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import NavBar from "@/components/NavBar.vue";
import CourseCard from "@/components/CourseCard.vue";
import { fetchCourses } from "../services/courses";
import store from "../store.js";
import { AUTH_LOGOUT } from "../store/actions/auth";
// @ is an alias to /src
export default {
    name: "home",
    data() {
        return {
            courses: []
        };
    },
    components: {
        NavBar,
        CourseCard
    },
    created() {
        if (store.getters.isAuthenticated) {
            fetchCourses()
                .then(response => {
                    // handle success
                    console.log(response);
                    this.courses = response.data;
                })
                .catch(error => {
                    // handle error
                    console.log(error);
                    console.log(error.response.status);
                    if (error.response.status == 401) {
                        // console.log(error.response.status);
                        this.$store
                            .dispatch(AUTH_LOGOUT)
                            .then(() => {
                                this.$router.push("/");
                            })
                            .catch(error => {
                                // handle error
                                console.log(error);
                            });
                    }
                })
                .then(() => {
                    // always executed
                });
        }
    },
    computed: {
        isAuthenticated() {
            return store.getters.isAuthenticated;
        },
        isNotAdministrator() {
            return store.getters.getType !== "administrator";
        },
        haveType() {
            var type = store.getters.getType;
            return (
                type === "administrator" ||
                type === "student" ||
                type === "professor"
            );
        }
    }
};
</script>
<style lang="scss">
.bgded {
    background-image: url("/images/backgrounds/landing.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info {
    display: flex;
    justify-self: center;
    height: 370px;
    font-size: 1.5rem;
    line-height: 40px;
    align-items: center;
    p {
        margin: 1rem;
    }
}
</style>
