<template>
    <div class="newCourse">
        <div class="bg">
            <NavBar></NavBar>
            <div class="overlay">
                <div class="content">
                    <div class="container form">
                        <div class="blur"></div>
                            <div class="header">
                                <div class="caption">
                                    <h2>Add new course</h2>
                                </div>
                            </div>

                        <div class="form">
                            <form
                                id="survey-form"
                                @submit="submitHandler"
                                autocomplete="off"
                            >
                                <div class="group">
                                    <input
                                        type="text"
                                        name="name"
                                        v-model="name"
                                        id="name"
                                        required
                                    />
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Name</label>
                                </div>

                                <div class="group">
                                    <input
                                        type="text"
                                        name="professor"
                                        v-model="prof"
                                        id="professor"
                                        required
                                    />
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Professor(s)</label>
                                </div>

                                <div class="group">
                                    <input
                                        type="text"
                                        name="professors"
                                        v-model="ta"
                                        id="ta"
                                        required
                                    />
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Teacher Assistant(s)</label>
                                </div>

                                <div class="group">
                                    <input
                                        type="text"
                                        name="img"
                                        v-model="img"
                                        id="img"
                                        required
                                    />
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Link to cover</label>
                                </div>

                                <div class="group">
                                    <input
                                        type="date"
                                        name="date_from"
                                        v-model="date_from"
                                        id="date_from"
                                        required
                                    />
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label style="left: 0; top: -20px;"
                                        >Starting Date</label
                                    >
                                </div>

                                <div class="group">
                                    <input
                                        type="date"
                                        name="date_to"
                                        v-model="date_to"
                                        id="date_to"
                                        required
                                    />
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label style="left: 0; top: -20px;"
                                        >Ending Date</label
                                    >
                                </div>

                                <!--<div class="form-group">-->
                                <!--<button>Login</button>-->
                                <!--</div>-->

                                <input id="submit" type="submit" value="Add" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="background"></div>
        </div>
    </div>
</template>

<script>
import NavBar from "@/components/NavBar.vue";
// import { addCourse } from "../services/courses";

import { postPost } from "../services/courses";
import router from "../router";
export default {
    name: "newCourse",
    data() {
        return {
            name: "",
            prof: "",
            ta: "",
            img: "",
            date_from: "",
            date_to: ""
        };
    },
    components: { NavBar },
    methods: {
        submitHandler(e) {
            e.preventDefault();
            postPost(
                this.name,
                this.prof,
                this.ta,
                this.img,
                this.date_from,
                this.date_to
            )
                .then(response => {
                    console.log(response);
                    // location.href = `${urlPrefix}/`;
                    router.push({ name: "home" });
                })
                .catch(error => {
                    // handle error
                    console.log(error);
                });
            return false;
        }
    }
};
</script>

<style lang="scss">
@import "../../public/styles/login.scss";
.container.form {
    margin: 100px auto !important;
}
h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 2rem;
}
input[type="submit"] {
    margin: 0 auto;
    width: 50%;
    background-color: #76abde;
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    padding: 12px;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    margin-top: 30px;
}

input[type="submit"]:hover {
    background-color: #3d5d7d;
    transition: background-color 0.2s;
}

.bg {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
}
.overlay {
    min-height: 100vh;
    position: initial !important;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
@media screen and (max-width:978px) {
    .container.form {
        width: 100%;
    }
    .group {
        max-width: 250px !important;
    }
}
.background {
    background: url("../../public/images/backgrounds/Innopolis_University.jpg")
    center center no-repeat;
    background-size: cover;
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    z-index: -1;
    top: 0;
    left: 0;
}
</style>
