<template>
    <div class="newForm">
        <div class="bg">
            <NavBar></NavBar>
            <div class="overlay">
                <div class="container form">
                    <div class="blur"></div>
                    <div class="header">
                        <div class="caption">
                            <h2 v-if="course && course.name">
                                Add new poll to {{ course.name }} course
                            </h2>
                        </div>
                    </div>
                    <div class="form">
                        <form id="survey-form" @submit="submitHandler">
                            <div class="row" style="align-items: center">
                                <select
                                    id="course"
                                    name="course"
                                    v-model="type"
                                    required
                                >
                                    <option value="" hidden>Type</option>
                                    <option value="lecture" selected
                                        >Lecture</option
                                    >
                                    <option value="tutorial">Tutorial</option>
                                    <option value="lab">Lab</option>
                                </select>

                                <div
                                    class="group"
                                    style="width: 70px; margin-left: 10px"
                                >
                                    <input
                                        v-model="week"
                                        type="text"
                                        id="week"
                                        name="week"
                                        required
                                    />
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Week #</label>
                                </div>

                                <div class="group">
                                    <input
                                        v-model="topic"
                                        type="text"
                                        id="topic"
                                        name="topic"
                                        required
                                    />
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Topic</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="group">
                                    <input
                                        v-model="link"
                                        type="text"
                                        id="link"
                                        name="link"
                                    />
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Link to Slides</label>
                                </div>

                                <div class="group">
                                    <input
                                        v-model="date_to"
                                        type="date"
                                        id="finish"
                                        name="finish-date"
                                        min="2019-01-01"
                                        max="2029-12-31"
                                    />
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label style="left: 0; top: -20px;"
                                        >Finish date:</label
                                    >
                                </div>
                            </div>
                            <hr />

                            <TestSurveyBuilder
                                :questionsList="questionsList"
                            ></TestSurveyBuilder>
                            <input id="submit" type="submit" value="Submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="background"></div>
        </div>
    </div>
</template>

<script>
import NavBar from "../components/NavBar.vue";
import {addForm, fetchTemplate} from "../services/polls";
import { fetchCourse } from "../services/courses";
import router from "../router";
import TestSurveyBuilder from "../components/TestSurveyBuilder";

// @ is an alias to /src
export default {
    name: "newForm",
    components: {
        TestSurveyBuilder,
        NavBar
        // TodoList,
        // TestSurveyBuilder
    },
    data() {
        return {
            course: null,
            type: "",
            week: "",
            topic: "",
            link: "",
            date_to: "",
            questionsList: [],
            template: Object,
            templateQuestions: [],
            addQuestion: false
        };
    },
    created() {
        fetchCourse(this.$route.params.key)
            .then(response => {
                // handle success
                console.log(response.data);
                this.course = response.data;
            })
            .catch(error => {
                // handle error
                console.log(error);
            })
            .then(() => {
                // always executed
            });
        console.log(this.$route.params.id);
        if (this.$route.params.id !== null) {
            fetchTemplate(this.$route.params.id)
                .then(response => {
                    // handle success
                    console.log(response.data);
                    this.template = response.data;
                    this.templateQuestions = this.template.questions;
                    console.log(this.templateQuestions);
                    for (var i = 0; i < this.templateQuestions.length; i++) {
                        this.questionsList.push(this.templateQuestions[i]);
                    }
                    // this.templateQuestions.foreach(function(question) {
                    //     this.questionsList.push(question);
                    // });
                    console.log(this.questionsList);
                })
                .catch(error => {
                    // handle error
                    console.log(error);
                })
                .then(() => {
                    // always executed
                });
        }
    },

    methods: {
        submitHandler(e) {
            e.preventDefault();
            console.log(this.questionsList);
            addForm(
                this.course._key,
                this.type,
                this.week,
                this.topic,
                this.link,
                this.date_to,
                this.questionsList
            )
                .then(response => {
                    console.log(response);
                    router.push({ name: "home" });
                })
                .catch(error => {
                    // handle error
                    console.log(error);
                });
            return false;
        }
    }
};
</script>

<style lang="scss">
@import "../../public/styles/login.scss";

.container.form {
    margin: 100px auto;
    /*width: 60%;*/
}
h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 2rem;
}

input[type="submit"] {
    margin: 0 auto;
    width: 50%;
    background-color: #33c6b7;
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    padding: 12px;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    margin-top: 30px;
}

input[type="submit"]:hover {
    background-color: #2eb2a4;
    transition: background-color 0.2s;
}
select {
    text-align: center;
    text-align-last: center;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    width: 200px;
    height: 30px;
    border: 1px solid #96a3a7;
    border-radius: 3px;
    color: #238f9c;
    box-sizing: border-box;
    margin-top: 6px;
    resize: vertical;
    font-size: 13px;
}

.bg {
    /*background: url("../../public/images/backgrounds/Innopolis_University.jpg")*/
    /*center center no-repeat;*/
    /*background-size: cover;*/
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
}
.overlay {
    min-height: 100vh;
    position: initial !important;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

hr {
    margin: 3rem 0;
}
.background {
    background: url("../../public/images/backgrounds/Innopolis_University.jpg")
    center center no-repeat;
    background-size: cover;
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    z-index: -1;
    top: 0;
    left: 0;
}
@media screen and (max-width:978px) {
    .container.form {
        width: 100%;
    }
    .group {
        max-width: 250px !important;
    }
}
</style>
