<template>
    <div class="newForm">
        <div class="bg">
            <NavBar></NavBar>
            <div class="overlay">
                <div class="container form">
                    <div class="blur"></div>
                    <div class="header">
                        <div class="caption">
                            <h2 v-if="course && course.name">
                                Add new template <br />
                                <span v-if="!otherCourses"
                                    >to {{ course.name }} course</span
                                >
                            </h2>
                        </div>
                    </div>
                    <div class="form">
                        <form id="survey-form" @submit="submitHandler">
                            <div
                                class="row start_data"
                                style="align-items: center"
                            >
                                <div class="box">
                                    <select
                                        id="course"
                                        name="course"
                                        v-model="type"
                                        required
                                    >
                                        <option value="" hidden>Type</option>
                                        <option value="lecture" selected
                                            >Lecture</option
                                        >
                                        <option value="tutorial"
                                            >Tutorial</option
                                        >
                                        <option value="lab">Lab</option>
                                    </select>

                                    <input
                                        type="checkbox"
                                        id="otherCourses"
                                        name="otherCourses"
                                        v-model="otherCourses"
                                        checked
                                    />
                                    <label for="otherCourses" class="checkbox">
                                        For other courses</label
                                    >
                                </div>

                                <div class="group">
                                    <input
                                        v-model="name"
                                        type="text"
                                        id="topic"
                                        name="topic"
                                        required
                                    />
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Name</label>
                                </div>
                            </div>
                            <hr />

                            <TestSurveyBuilder
                                :questionsList="questionsList"
                            ></TestSurveyBuilder>
                            <input id="submit" type="submit" value="Submit" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="background"></div>
        </div>
    </div>
</template>

<script>
import NavBar from "../components/NavBar.vue";
import { addTemplate } from "../services/polls";
import { fetchCourse } from "../services/courses";
import router from "../router";
import TestSurveyBuilder from "../components/TestSurveyBuilder";

export default {
    name: "newTemplate",
    components: {
        TestSurveyBuilder,
        NavBar
    },
    data() {
        return {
            course: null,
            name: "",
            type: "",
            questionsList: [],
            addQuestion: false,
            otherCourses: false
        };
    },
    created() {
        fetchCourse(this.$route.params.key)
            .then(response => {
                // handle success
                console.log(response.data);
                this.course = response.data;
            })
            .catch(error => {
                // handle error
                console.log(error);
            })
            .then(() => {
                // always executed
            });
    },

    methods: {
        submitHandler(e) {
            e.preventDefault();
            console.log(this.questionsList);
            addTemplate(
                this.course._key,
                this.name,
                this.type,
                this.questionsList,
                this.otherCourses
            )
                .then(response => {
                    console.log(response);
                    router.push({ name: "home" });
                })
                .catch(error => {
                    // handle error
                    console.log(error);
                });
            return false;
        }
    }
};
</script>

<style lang="scss">
@import "../../public/styles/login.scss";

.container.form {
    margin: 100px auto;
    text-align: center;
    min-width: 70vw;
}

h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 2rem;
}

input[type="submit"] {
    margin: 0 auto;
    width: 50%;
    background-color: #33c6b7;
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    padding: 12px;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    margin-top: 30px;
}

input[type="submit"]:hover {
    background-color: #2eb2a4;
    transition: background-color 0.2s;
}
select {
    text-align: center;
    text-align-last: center;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    width: 200px;
    height: 30px;
    border: 1px solid #96a3a7;
    border-radius: 3px;
    color: #238f9c;
    box-sizing: border-box;
    margin-top: 6px;
    resize: vertical;
    font-size: 13px;
}

.bg {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
}
.overlay {
    min-height: 100vh;
    position: initial !important;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.checkbox {
    margin-left: 5px;
    color: #96a3a7;
}

.box {
    input[type="checkbox"] {
        margin-left: 20px;
    }
    label {
        margin: 0;
        margin-left: 5px;
        margin-bottom: -3px;
    }
    display: flex;
    align-items: flex-end;
    margin-left: 100px;
}
@media screen and (max-width: 978px) {
    .container.form {
        width: 100%;
    }
    .group {
        max-width: 250px !important;
    }
}
.background {
    background: url("../../public/images/backgrounds/Innopolis_University.jpg")
    center center no-repeat;
    background-size: cover;
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    z-index: -1;
    top: 0;
    left: 0;
}
</style>
