<template>
    <div class="registration">
        <div class="bg">
            <NavBar></NavBar>
            <div class="overlay">
                <div class="content">
                    <div class="container form">
                        <div class="blur"></div>
                        <div class="header">
                            <div class="caption">
                                <h1>Registration</h1>
                            </div>
                        </div>

                        <div class="form">
                            <form
                                autocomplete="off"
                                @submit.prevent="submitHandler"
                            >
                                <!-- method="POST"-->
                                <div v-if="errors.length" class="errors">
                                    <div>
                                        Please correct this following error(s):
                                    </div>
                                    <div v-for="error in errors">
                                        {{ error }}
                                    </div>
                                </div>
                                <div class="group">
                                    <input
                                        v-model.trim="email"
                                        type="email"
                                        name="username"
                                    />
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Email</label>
                                </div>

                                <div class="group">
                                    <input
                                        v-model.trim="password"
                                        type="password"
                                        name="password"
                                    />
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Password</label>
                                </div>

                                <div class="group">
                                    <input
                                        v-model.trim="confirm_password"
                                        type="password"
                                        name="password"
                                    />
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label>Confirm password</label>
                                </div>

                                <div class="form-group">
                                    <button>Sign up</button>
                                </div>

                                <router-link class="link" :to="'/authorization'"
                                    >Have an account?
                                </router-link>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import NavBar from "../components/NavBar";
import router from "../router";
import { postRegisterData } from "../services/auth";

export default {
    name: "registration",
    component: {
        NavBar
    },
    data() {
        return {
            email: "",
            password: "",
            confirm_password: "",
            errors: []
        };
    },
    methods: {
        submitHandler(e) {
            if (
                this.email &&
                this.password &&
                this.password === this.confirm_password
            ) {
                e.preventDefault();
                postRegisterData(this.email, this.password)
                    .then(response => {
                        console.log(response);
                        // location.href = `${urlPrefix}/`;
                        router.push({ name: "authorization" });
                    })
                    .catch(error => {
                        // handle error
                        console.log(error);
                        if (error.response.status == 500) {
                            this.errors.push("User already exists");
                        }
                    });
                return false;
            } else {
                this.errors = [];
                if (!this.email) this.errors.push("Email required");
                if (!this.password) this.errors.push("Password required");
                if (this.password !== this.confirm_password)
                    this.errors.push("Passwords must be the same");
            }
        }
    }
    // validations: {
    //     password: {
    //         required,
    //         minLength: minLength(6)
    //     },
    //     confirm_password: {
    //         sameAsPassword: sameAs('password')
    //     }
    // }
};
</script>

<style lang="scss">
@import "../../public/styles/login.scss";

.bg {
    background: url("../../public/images/backgrounds/Innopolis_University.jpg")
        center center no-repeat;
    background-size: cover;
}
.errors {
    /*color: grey;*/
    font-family: Verdana, Geneva, sans-serif;
}
@media screen and (max-width:978px) {
    .container.form {
        width: 100%;
    }
    .group {
        max-width: 250px !important;
    }
}
</style>
