<template>
    <div class="temp">
        <div class="bg">
            <NavBar></NavBar>
            <div class="overlay">
                <div class="container" id="main">
                    <div v-for="(question, i) in questions">
                        <div v-if="question" class="answer">
                            <div v-if="question.type === 'TEXT'">
                                <h3>{{ i + 1 }}. {{ question.body }}</h3>
                                <div v-if="!question.answers" class="no-answer">
                                    No answers yet.
                                </div>
                            </div>

                            <div v-else>
                                <div v-if="!question.answers" class="no-answer">
                                    <h3>{{ i + 1 }}. {{ question.body }}</h3>
                                    No answers yet.
                                </div>

                                <div v-else>
                                    <button v-on:click="change(i)">
                                        Change
                                    </button>
                                </div>
                            </div>

                            <div class="container" id="answers">
                                <div
                                    v-if="question.type === 'TEXT'"
                                    class="overflowed"
                                >
                                    <div
                                        class=""
                                        v-for="(answer, j) in question.answers"
                                        :key="10 * i + j"
                                    >
                                        <div class="card" v-if="answer.value">
                                            <div class="card-body">
                                                {{ answer.value }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    v-if="
                                        question.type === 'SCALE' ||
                                            question.type === 'BOOLEAN' ||
                                            question.type === 'MULTI_CHOICE' ||
                                            question.type === 'SINGLE_CHOICE'
                                    "
                                    style="justify-content: center"
                                >
                                    <Graph
                                        v-if="check(i)"
                                        :question="question"
                                    ></Graph>
                                    <Chart v-else :question="question"></Chart>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="background"></div>
        </div>
    </div>
</template>

<script>
import NavBar from "../components/NavBar";
import Graph from "../components/Graph";
import Chart from "../components/Chart";

export default {
    name: "temp",
    data() {
        return {
            graph: [],
            questions: [
                {
                    id: "9f3673da-19d6-cb1a-7c3f-d123de6e2bf3",
                    type: "BOOLEAN",
                    multiSelect: false,
                    characterLimited: false,
                    hasMinMax: false,
                    allowDecimals: false,
                    sequence: null,
                    minValue: 1,
                    maxValue: 8,
                    labels: [],
                    dateFormat: "MM/DD/YYYY",
                    timeFormat: 12,
                    intervals: 2,
                    textLimit: 1024,
                    units: null,
                    options: [
                        {
                            body: "Yes",
                            sequence: 1
                        },
                        { body: "No", sequence: 2 }
                    ],
                    body: "Do you like it?",
                    answers: [
                        {
                            value: "Yes"
                        },
                        {
                            value: "Yes"
                        },
                        {
                            value: "No"
                        }
                    ]
                },
                {
                    id: "9f3673da-19d6-cb1a-7c3f-dde6e2bf3",
                    type: "TEXT",
                    multiSelect: false,
                    characterLimited: false,
                    hasMinMax: false,
                    allowDecimals: false,
                    sequence: null,
                    minValue: 1,
                    maxValue: 8,
                    labels: [],
                    dateFormat: "MM/DD/YYYY",
                    timeFormat: 12,
                    intervals: 2,
                    textLimit: 1024,
                    units: null,
                    options: [
                        {
                            body: null,
                            sequence: 1
                        },
                        { body: null, sequence: 2 }
                    ],
                    body: "test",
                    answers: [
                        {
                            value: "Lalala"
                        },
                        {
                            value: "smgv"
                        }
                    ]
                },
                {
                    id: "9f3673da-19d6-cb1e6e2bf3",
                    type: "MULTI_CHOICE",
                    multiSelect: false,
                    characterLimited: false,
                    hasMinMax: false,
                    allowDecimals: false,
                    sequence: null,
                    minValue: 1,
                    maxValue: 8,
                    labels: [],
                    dateFormat: "MM/DD/YYYY",
                    timeFormat: 12,
                    intervals: 2,
                    textLimit: 1024,
                    units: null,
                    options: [
                        {
                            body: "SELECT",
                            sequence: 1
                        },
                        {
                            body: "DELETE",
                            sequence: 2
                        },
                        {
                            body: "UPDATE",
                            sequence: 3
                        }
                    ],
                    body: "test",
                    answers: [
                        {
                            value: ["SELECT", "DELETE"]
                        },
                        {
                            value: ["DELETE", "UPDATE"]
                        },
                        {
                            value: ["UPDATE"]
                        },
                        {
                            value: ["UPDATE"]
                        },
                        {
                            value: ["SELECT"]
                        }
                    ]
                },
                {
                    id: "9f3673dacb1e6e2bf3",
                    type: "SINGLE_CHOICE",
                    multiSelect: false,
                    characterLimited: false,
                    hasMinMax: false,
                    allowDecimals: false,
                    sequence: null,
                    minValue: 1,
                    maxValue: 8,
                    labels: [],
                    dateFormat: "MM/DD/YYYY",
                    timeFormat: 12,
                    intervals: 2,
                    textLimit: 1024,
                    units: null,
                    options: [
                        {
                            body: "Yes",
                            sequence: 1
                        },
                        {
                            body: "No",
                            sequence: 2
                        },
                        {
                            body: "Maybe",
                            sequence: 3
                        }
                    ],
                    body: "Will you come",
                    answers: [
                        {
                            value: "Yes"
                        },
                        {
                            value: "Yes"
                        },
                        {
                            value: "No"
                        },
                        {
                            value: "Maybe"
                        },
                        {
                            value: "No"
                        }
                    ]
                },
                {
                    id: "9f3673da-19d62bf3",
                    type: "SCALE",
                    multiSelect: false,
                    characterLimited: false,
                    hasMinMax: false,
                    allowDecimals: false,
                    sequence: null,
                    minValue: 1,
                    maxValue: 8,
                    labels: ["Terrible", "Bad", "Normal", "Good", "Super"],
                    dateFormat: "MM/DD/YYYY",
                    timeFormat: 12,
                    intervals: 5,
                    textLimit: 1024,
                    units: null,
                    options: [
                        {
                            body: null,
                            sequence: 1
                        },
                        { body: null, sequence: 2 }
                    ],
                    body: "How was lab?",
                    answers: [
                        {
                            value: "Terrible"
                        },
                        {
                            value: "Terrible"
                        },
                        {
                            value: "Terrible"
                        },
                        {
                            value: "Terrible"
                        },
                        {
                            value: "Normal"
                        },
                        {
                            value: "Normal"
                        },
                        {
                            value: "Normal"
                        }
                    ]
                }
            ]
        };
    },

    components: {
        NavBar,
        Graph,
        Chart
    },
    created() {
        for (var i = 0; i < this.questions.length; ++i) {
            this.graph[i] = false;
        }
        console.log(this.graph);
    },
    methods: {
        change: function(i) {
            const newGraphs = [...this.graph];
            newGraphs[i] = !this.graph[i];
            this.graph = newGraphs;
            console.log(this.graph);
        },
        check: function(i) {
            return !!this.graph[i];
        }
    }
};
</script>

<style lang="scss">
#main {
    display: grid;
    width: 60%;
    min-height: 100vh;
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    margin: 30px auto;
}
.answer {
    /*height: 300px;*/
    color: #2b2b2b;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    h3 {
        color: #ffffff;
        margin-top: 20px;
    }
    .blur {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.7);
    }
}
.answers .container {
    width: auto;
    display: flex;
    justify-content: center;
}
#answers {
    padding: 40px 0;
}

.answer #graph {
    height: 50vh !important;
    min-height: 400px !important;
    margin: 0 auto;
    border: 1px solid black;
}
.overflowed {
    height: 200px;
    overflow: scroll;
    padding: 0;
}

.bg {
    /*background: url("../../public/images/backgrounds/Innopolis_University.jpg")*/
    /*center center no-repeat;*/
    /*background-size: cover;*/
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
}
.overlay {
    min-height: 100vh;
    position: initial !important;
    background-color: rgba(0, 0, 0, 0.5);

    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: scroll;
}
.no-answer {
    text-align: center;
    color: #fff !important;
}
button {
    cursor: pointer;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(138, 138, 138, 0.5);
    color: #e2e2e2;
    outline: none;
    padding: 0 30px;
    line-height: 44px;
    height: auto;
    border-radius: 30px;
    width: auto;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}
.background {
    background: url("../../public/images/backgrounds/Innopolis_University.jpg")
        center center no-repeat;
    background-size: cover;
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    z-index: -1;
    top: 0;
    left: 0;
}
</style>
