<template>
    <div class="container p-0 mt-4" style="margin-bottom: 60px">
        <div class="option-section" v-if="question && question.type === 'TEXT'">
            <div class="group">
                <input
                    v-model="answer.value"
                    type="text"
                    :id="question.id"
                    name="name"
                    autocomplete="new-password"
                    @change="handleInput"
                    required
                />
                <span class="highlight"></span>
                <span class="bar"></span>

                <label :id="question.id" :for="question.id">
                    {{ i + 1 }}. {{ question.body }}</label
                >
            </div>
        </div>

        <div
            class="option-section"
            v-if="question && question.type === 'BOOLEAN'"
        >
            <div class="option-section" v-if="question.type === 'BOOLEAN'">
                <h3>{{ i + 1 }}.{{ question.body }}</h3>
                <div
                    class=""
                    v-for="(option, index) in question.options"
                    :key="index"
                >
                    <p class="radio-option">
                        <input
                            type="radio"
                            name="boolean_type"
                            v-model="answer.value"
                            :id="question.id"
                            @change="handleInput"
                            :value="option.body"
                            required
                        />
                        <label>{{ option.body }}</label>
                    </p>
                </div>
            </div>
        </div>

        <div
            class="option-section"
            v-if="question && question.type === 'MULTI_CHOICE'"
        >
            <h3>{{ i + 1 }}.{{ question.body }}</h3>

            <div v-for="(option, index) in question.options" :key="index">
                <p class="checkbox-option">
                    <label>
                        <input
                            type="checkbox"
                            v-model="answer.value"
                            name="multi_choice_type"
                            :id="question.id"
                            :value="option.body"
                            @change="handleInput"
                        />&nbsp;{{ option.body }}
                    </label>
                </p>
            </div>
        </div>

        <div
            class="option-section"
            v-if="question && question.type === 'SCALE'"
        >
            <h3>{{ i + 1 }}.{{ question.body }}</h3>
            {{ handleInput() }}
            <vueSlider
                v-model="answer.value"
                ref="slider"
                :id="question.id"
                :data="question.labels"
                :value="question.minValue"
                :piecewise="true"
                name="scale"
                direction="horizontal"
                class="horizontal-vue-slider"
                :min="question.minValue"
                :max="question.maxValue"
                :piecewiseLabel="true"
                @click="handleInput"
                :style="{ width: '90%', margin: '0 auto' }"
                required
            ></vueSlider>
        </div>

        <div
            class="option-section"
            v-if="question && question.type === 'SINGLE_CHOICE'"
        >
            <h3>{{ i + 1 }}.{{ question.body }}</h3>
            <div v-for="(option, index) in question.options" :key="index">
                <p class="radio-option">
                    <label>
                        <input
                            v-model="answer.value"
                            type="radio"
                            name="single"
                            @change="handleInput"
                            :value="option.body"
                            required
                        />&nbsp;{{ option.body }}
                    </label>
                </p>
                <div class="" v-if="option.imageUrl">
                    <img :src="option.imageUrl" alt="" class="" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import vueSlider from "vue-slider-component";

export default {
    name: "AnswerInputField",
    components: { vueSlider },

    data() {
        return {
            answer: {
                id: Object,
                value: ""
            }
        };
    },
    props: {
        question: Object,
        changeQuestion: Function,
        i: Number
    },
    methods: {
        handleInput() {
            this.answer.id = this.i;
            this.changeQuestion(this.i, this.answer.value);
            console.log(this.i, this.answer.value);
        }
    },
    created() {
        if (this.question.type === "MULTI_CHOICE") {
            this.answer.value = [];
        } else {
            this.answer.value = "";
        }
    }
};
</script>

<style lang="scss">
@import "../../public/styles/login.scss";


.radio-option {
    margin: 0 auto;
    display: flex;
    justify-content: center;

    input {
        margin: 0 5px;
    }

    label {
        display: flex;
    }
}

.checkbox-option {
    margin: 0 auto;
    display: flex;
    justify-content: center;

    input {
        margin: 0 5px;
    }

    label {
        display: flex;
    }
}

.group label {
    color: #ffffff !important;
    font-size: 18px !important;
}
span.vue-slider-piecewise-label {
    color: #fff !important;
}
</style>
