<template>
    <div :id="'chart ' + question.id" style="justify-content: center"></div>
</template>

<script>
import Plotly from "plotly.js-dist";
export default {
    name: "Chart",
    data() {
        return {
            graph: null
        };
    },
    props: {
        question: Object
    },
    methods: {
        countLabels: function() {
            var labels = this.question.labels;
            var arr_of_counts = Array(labels.length).fill(0);
            for (let i = 0; i < labels.length; i++) {
                for (let j = 0; j < this.question.answers.length; j++) {
                    if (this.question.answers[j].value === labels[i]) {
                        arr_of_counts[i]++;
                    }
                }
            }
            return arr_of_counts;
        },

        countOptions: function() {
            var options = this.question.options;
            var arr_of_counts = Array(options.length).fill(0);
            for (let i = 0; i < options.length; i++) {
                for (let j = 0; j < this.question.answers.length; j++) {
                    if (this.question.answers[j].value === options[i].body) {
                        arr_of_counts[i]++;
                    }
                }
            }
            return arr_of_counts;
        },

        countMultiOptions: function() {
            var options = this.question.options;
            var arr_of_counts = Array(options.length).fill(0);
            for (let i = 0; i < options.length; i++) {
                for (let j = 0; j < this.question.answers.length; j++) {
                    for (
                        let k = 0;
                        k < this.question.answers[j].value.length;
                        k++
                    ) {
                        if (
                            this.question.answers[j].value[k] ===
                            options[i].body
                        ) {
                            arr_of_counts[i]++;
                        }
                    }
                }
            }
            return arr_of_counts;
        },
        plotGraph: function() {
            var xx = [];
            var yy = [];
            if (
                this.question.type === "BOOLEAN" ||
                this.question.type === "SINGLE_CHOICE"
            ) {
                for (let i = 0; i < this.question.options.length; i++) {
                    xx.push(this.question.options[i].body);
                }
                yy = this.countOptions();
            } else if (this.question.type === "MULTI_CHOICE") {
                for (let i = 0; i < this.question.options.length; i++) {
                    xx.push(this.question.options[i].body);
                }
                yy = this.countMultiOptions();
            } else if (this.question.type === "SCALE") {
                xx = this.question.labels;
                yy = this.countLabels();
            }
            var width;
            if (window.innerWidth > 615) {
                width = 550;
            }
            else {
                width = 350;
            }

            var data = [
                {
                    values: yy,
                    labels: xx,
                    type: "pie"
                }
            ];

            var layout = {
                title: {
                    text: this.question.body,
                    font: {
                        size: 18,
                        color: "#ffffff"
                    }
                },
                height: 450,
                width: width,
                colorscale: "Picnic",
                plot_bgcolor: "#00000097",
                paper_bgcolor: "#00000097",
                colorway: ['#B388FF', '#80D8FF', '#8C9EFF', '#A7FFEB', '#9575CD', '#7986CB', '#64B5F6', '#B3E5FC', '#B2DFDB', '#18FFFF']

            };

            var str = "chart " + this.question.id;
            this.graph = Plotly.newPlot(str, data, layout, {
                responsive: true
            });
        }
    },
    mounted() {
        this.plotGraph();
    }
};
</script>

<style>
.svg-container {
}
</style>
