<template>
    <div class="col-lg-4 col-sm-6">
        <router-link v-if="course" :to="'/courses/' + course._key">
            <div class="img-thumbnail">
                <a href="" class="imgover">
                    <img :src="course.img" alt="" />
                </a>
                <figcaption>
                    <h6 class="heading">{{ course.name }}</h6>

                    <div>
                        <p>
                            {{ course.prof }}
                        </p>
                    </div>
                </figcaption>
            </div>
        </router-link>

        <router-link v-else :to="'/addCourse'">
            <div class="img-thumbnail">

                <figcaption>
                    <h6 class="heading">Add new course</h6>

                    <div>
                        <p></p>
                    </div>
                </figcaption>
            </div>
        </router-link>
    </div>
</template>

<script>
export default {
    name: "courseCard",
    props: {
        course: Object
    }
};
</script>
