<template>
    <div class="col-lg-3 col-sm-6">
        <div class="card" v-if="form" style="width: 18rem;">
            <div class="card-body">
                <router-link
                    v-if="isStudent"
                    :to="
                        '/courses/' +
                            course._key +
                            '/polls/' +
                            form._key +
                            '/answer'
                    ">
                    <h5 class="card-title">{{ form.type }} #{{ form.week }}</h5>
                    <h6 class="card-subtitle mb-2 text-dark">
                        {{ form.topic }}
                    </h6>
                    <p class="text-muted">
                        Available to: {{ form.availability }}
                    </p>
                </router-link>
                <router-link
                    v-else
                    :to="'/courses/' + course._key + '/feedback/' + form._key"
                >
                    <h5 class="card-title">{{ form.type }} #{{ form.week }}</h5>
                    <h6 class="card-subtitle mb-2 text-dark">
                        {{ form.topic }}
                    </h6>
                    <p class="text-muted">
                        Available to: {{ form.availability }}
                    </p>
                </router-link>
                >
                <a :href="form.link" target="_blank" class="card-link"
                    >Link to Slides</a
                >
            </div>
        </div>

        <div class="card" v-else style="width: 18rem;">
            <router-link :to="'/courses/' + course._key + '/addForm'">
                <div class="card-body">
                    <h5 class="card-title">Add new poll <br> without template</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text"></p>
                    <a href="" class="card-link"></a>
                </div>
            </router-link>
        </div>
    </div>
</template>

<script>
import store from "../store.js";
import { fetchAnswerByFormId } from "../services/answers";
export default {
    name: "formCard",
    props: {
        course: Object,
        form: Object,
        feedback: Object
    },
  created() {
      if (!this.isStudent) {
        fetchAnswerByFormId(this.course._key, this.form._key)
          .then(response => {
            // handle success
            console.log(response.data);
            this.feedback = response.data;
            console.log(this.feedback);
          })
          .catch(error => {
            // handle error
            console.log(error);
          })
          .then(() => {
            // always executed
          });
      }


  },
    computed: {
        isStudent() {
            return store.getters.getType === "student";
        }
    }
};
</script>

<style></style>
