<template>
    <div class="wrapper row1">
        <header id="header" class="hoc clear">
            <div id="logo" class="fl_left">
                <h1><a href="/">FeedInno</a></h1>
            </div>
            <nav id="mainav" class="fl_right">
                <ul class="clear">
                    <li v-if="isAuthenticated" class="toHide">Email: {{ this.$store.getters.getEmail }}</li>
                    <li v-if="isAuthenticated && haveType" class="toHide">Type: {{ this.$store.getters.getType }}</li>
                    <!--<li class=""><a href="">About</a></li>-->
                    <!--<li v-if="isAuthenticated">-->
                        <!--<a class="drop" href="#">Pages</a>-->
                        <!--<ul>-->
                            <!--<li><a href="">Courses</a></li>-->
                            <!--<li><a href="">Teachers</a></li>-->
                            <!--<li><a href="">Administrative Staff</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <li v-if="isAuthenticated">
                        <router-link :to="'/'">
                            <img
                                @click="logout"
                                class="auth"
                                src="https://svgshare.com/i/CAP.svg"
                                alt=""
                            />
                        </router-link>
                    </li>
                </ul>
                <!-- ################################################################################################ -->
            </nav>
        </header>
    </div>

</template>

<script>
import { AUTH_LOGOUT } from "../store/actions/auth";
import store from "../store.js";

export default {
    name: "navbar",
    data() {
        return {
            isOpen: false
        };
    },
    methods: {
        logout: function() {
            this.$store
                .dispatch(AUTH_LOGOUT)
                .then(() => {
                    this.$router.push("/");
                })
                .catch(error => {
                    // handle error
                    console.log(error);
                });
        }
    },
    computed: {
        isAuthenticated() {
            return store.getters.isAuthenticated
        },
        haveType() {
            var type = store.getters.getType
            return ((type === "administrator") || (type === "student") || (type === "professor"));
        }
    }
};
</script>

<style>
    @media screen and (max-width:978px){
        .toHide {
            display: none !important;
        }
    }
</style>
