<template>
    <a class="plus-button add-remove-buttons" v-on="listeners"
        ><img src="../../public/images/add.svg"
    /></a>
</template>

<script>
export default {
    computed: {
        listeners() {
            return {
                // Pass all component listeners directly to input
                ...this.$listeners,
                // Override input listener to work with v-model
                input: event => this.$emit("input", event.target.value)
            };
        }
    }
};
</script>

<style lang="scss" scoped>
.plus-button {
    cursor: pointer;
    opacity: 0.5;
}
.plus-button:hover {
    opacity: 1;
}
img {
    width: 30px;
    max-height: 30px;
}
</style>
