<template>
    <div class="col-lg-3 col-sm-6">
        <div class="card" v-if="template" style="width: 18rem;">
            <div class="card-body">
                <router-link
                        :to="'/courses/' + course._key + '/templates/' + template._key"
                >
                    <h5 class="card-title">Template</h5>
                    <h6 class="card-subtitle mb-2 text-dark">
                        {{ template.name }}
                    </h6>
                    <p class="text-muted">
                        {{template.type}}
                    </p>
                </router-link>
                >
            </div>
        </div>

        <div class="card" v-else style="width: 18rem;">
            <router-link :to="'/courses/' + course._key + '/addTemplate'">
                <div class="card-body">
                    <h5 class="card-title">Add new template</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text"></p>
                    <a href="" class="card-link"></a>
                </div>
            </router-link>
        </div>
    </div>
</template>

<script>
    import store from "../store.js";
    import { fetchAnswerByFormId } from "../services/answers";
    export default {
        name: "formCard",
        props: {
            course: Object,
            template: Object,
            feedback: Object
        },
        created() {
            if (!this.isStudent) {
                fetchAnswerByFormId(this.course._key, this.form._key)
                    .then(response => {
                        // handle success
                        console.log(response.data);

                        this.feedback = response.data;
                        console.log(this.feedback);
                    })
                    .catch(error => {
                        // handle error
                        console.log(error);
                    })
                    .then(() => {
                        // always executed
                    });
            }


        },
        computed: {
            isStudent() {
                return store.getters.getType === "student";
            }
        }
    };
</script>

<style></style>
