<template>
    <div class="test-survey-builder">
        <h2 class="text-center">Add Questions to your Survey</h2>
        <QuestionsView :questions="questionsList" :readOnly="true" />
        <div v-if="addQuestion">
            <SurveyBuilder :options="sampleQuestion" />
        </div>
        <div class="pt-10">
            <button
                type="button"
                class="add_another_btn"
                v-on:click="addNewQuestion()"
            >
                <img src="../../public/images/add.svg" />
            </button>
        </div>
    </div>
</template>

<script>
import SurveyBuilder from "./SurveyBuilder";
import QuestionsView from "./QuestionsView";
import sampleQuestionObj from "../scripts/survey-builder.json";

export default {
    name: "TestSurveyBuilder",
    props: {
        questionsList: []
    },
    data() {
        return {
            addQuestion: false
        };
    },
    mounted() {
        this.$root.$on("add-update-question", payload => {
            this.updateQuestionsList(payload.question);
        });
    },
    components: { SurveyBuilder, QuestionsView },
    methods: {
        updateQuestionsList(question) {
            const questionIndex = this.questionsList.findIndex(
                x => x.id === question.id
            );
            if (questionIndex >= 0) {
                this.questionsList.splice(questionIndex, 1, question);
            } else {
                this.questionsList.push(JSON.parse(JSON.stringify(question)));
            }
            this.addQuestion = false;
            this.$root.$emit("selected-question", null);
            window.console.log(question, this.addQuestion, this.questionsList);
            this.$root.$emit("add-q", question);
        },
        addNewQuestion() {
            this.sampleQuestion = JSON.parse(JSON.stringify(sampleQuestionObj));
            this.addQuestion = true;
        }
    }
};
</script>

<style scoped>
.add_another_btn {
    cursor: pointer;
    opacity: 0.5;
    margin: 0 auto;
    border: none;
}
.add_another_btn:hover {
    opacity: 1;
}
img {
    width: 30px;
    max-height: 30px;
}
.text-center {
    text-align: center;
}
</style>
