@charset "utf-8";
/*
Template Name: Nocobot
Author: <a href="https://www.os-templates.com/">OS Templates</a>
Author URI: https://www.os-templates.com/
Copyright: OS-Templates.com
Licence: Free to use under our free template licence terms
Licence URI: https://www.os-templates.com/template-terms
File: Layout CSS
*/


@import url("fontawesome-free/css/fontawesome-all.min.css");
@import url("framework.css");

/* Top Bar
--------------------------------------------------------------------------------------------------------------- */
#topbar{padding:20px 0; font-size:.8rem; text-transform:uppercase;}

#topbar ul li{display:inline-block; margin-right:15px;}
#topbar ul li:last-child{margin-right:0; padding-right:0; border-right:none;}
#topbar i{line-height:normal;}
#topbar > div:nth-of-type(2) i{font-size:1rem;}

/* Search Form */
#topbar #searchform{position:relative; line-height:1; z-index:9999;}
#topbar #searchform::after{display:block; height:18px; line-height:18px; padding:0; font-family: "Font Awesome\ 5 Free", serif; font-weight:900; font-size:1rem; content:"\f002"/* fa-search */;}
#topbar #searchform:hover::after, #topbar #searchform button{cursor:pointer;}
#topbar #searchform > div{position:absolute; top:18px; right:0; width:280px; visibility:hidden; opacity:0/* Required for transition effect */;}
#topbar #searchform:hover > div{visibility:visible; opacity:1/* Required for transition effect */;}
#topbar #searchform form{display:block; position:relative;}
#topbar #searchform form *{border:none;}
#topbar #searchform input{display:block; width:100%; height:36px; padding:8px 40px 8px 10px; font-size:1rem;}
#topbar #searchform ::placeholder{text-transform:capitalize;}
#topbar #searchform button{display:block; position:absolute; top:3px; right:2px; height:30px; font-size:16px; line-height:1;}


/* Header
--------------------------------------------------------------------------------------------------------------- */
#header{
	background-color: rgba(0,0,0,.55);
	position: fixed;
    top: 0;
    max-width: 100vw;
    width: 100vw;
    left: 0;}

#header #logo{margin:22px 0 0 30px;}
#header #logo h1{margin:0; padding:0; font-size:2.2rem;}
#header.scrolled {background-color: rgba(0,0,0,.75); transition: background 500ms;}


/* Page Intro
--------------------------------------------------------------------------------------------------------------- */
#pageintro{padding:200px 0 400px; color:#FFFFFF;}/* 400px => 200px for #introblocks negative margin */

#pageintro article, #pageintro article p{display:block; max-width:75%; margin:0 auto; text-align:center;}
#pageintro article p{max-width:65%; line-height:2rem;}
#pageintro .heading{margin-bottom:20px; font-size:4rem;}
#pageintro footer{margin-top:50px;}

/* Content Area
--------------------------------------------------------------------------------------------------------------- */
.container{padding:80px 0;}

.sectiontitle{display:block; max-width:55%; margin:0 auto 80px; text-align:center;}
.sectiontitle *{margin:0;}

/* Introblocks - x3 */
#introblocks{display:block; position:relative; z-index:1; text-align:center;}/* 280px => 200px + container padding */
#introblocks figure{display:block; position:relative; max-width:348px; text-align:center;}
#introblocks figure figcaption{display:block; position:absolute; bottom:0; width:100%; padding:0 20px;}
#introblocks figure figcaption *{margin:0; padding:0;}
#introblocks figure figcaption div{max-height:0; overflow:hidden; transition:max-height .6s cubic-bezier(0, 1, 0, 1) -.1s;}
#introblocks figure:hover figcaption div{max-height:1200px; transition-timing-function:cubic-bezier(0.5, 0, 1, 0); transition-delay:0s;}
#introblocks figure figcaption .heading{padding:20px 0; font-size:1.2rem; font-weight:700; line-height: 1.3;}
#introblocks figure figcaption div p{padding:0 0 20px 0;}

/* Introblocks - x3 */
.img-thumbnail{display:block; position:relative; z-index:1; text-align:center; margin: 20px 10px; min-width: 250px; min-height: 250px; border: none;padding: 0;}/* 280px => 200px + container padding */
.img-thumbnail figure{display:block; position:relative; max-width:348px; text-align:center;}
.img-thumbnail figcaption{display:block; position:absolute; bottom:0; width:100%; padding:0 20px; background-color: rgba(0,0,0,.55);}
.img-thumbnail figcaption *{margin:0; padding:0;}
.img-thumbnail figcaption div{max-height:0; overflow:hidden; transition:max-height .6s cubic-bezier(0, 1, 0, 1) -.1s;}
.img-thumbnail:hover figcaption div{max-height:1200px; transition-timing-function:cubic-bezier(0.5, 0, 1, 0); transition-delay:0s;}
.img-thumbnail  figcaption .heading{padding:20px 0; font-size:1.2rem; font-weight:700; line-height:1;}
.img-thumbnail  figcaption div p{padding:0 0 20px 0;}

.img-thumbnail *{margin:0; padding:0;}
.img-thumbnail div{max-height:0; overflow:hidden; transition:max-height .6s cubic-bezier(0, 1, 0, 1) -.1s;}
.img-thumbnail:hover div{max-height:1200px; transition-timing-function:cubic-bezier(0.5, 0, 1, 0); transition-delay:0s;}
.img-thumbnail.heading{padding:20px 0; font-size:1.2rem; font-weight:700; line-height:1;}
.img-thumbnail p{padding:0 0 20px 0;}

/* Image Group */
.imgroup li{margin-bottom:50px;}
.imgroup li:nth-last-child(-n+3){margin-bottom:0;}/* Removes bottom margin from the last three items - margin is restored in the media queries when items stack */
.imgroup li:nth-child(3n+1){margin-left:0; clear:left;}/* Removes the need to add class="first" */

img {
	height: 100%;
	max-height: 250px;
}
img.auth {
	max-width: 20px;
	max-height: 20px;
	margin-bottom: 10px;
	margin-left: 5px;
}
/* Team Members */
.team li:last-child{margin-bottom:0;}/* Used when elements stack in small viewports */
.team figure{display:block; text-align:center;}
.team figure *{margin:0; padding:0;}
.team figure figcaption{padding:20px 10px; line-height:1;}
.team figure strong{display:block; margin-bottom:8px; font-size:1.4rem; font-weight:400;}
.team figure em{display:block; font-style:normal; font-size:.8rem;}

/* Client Logos */
.clients{text-align:center;}
.clients li{margin-bottom:20px;}
.clients li:nth-last-child(-n+4){margin-bottom:0;}/* Removes bottom margin from the last four items - margin is restored in the media queries when items stack */
.clients li:nth-child(4n+1){margin-left:0; clear:left;}/* Removes the need to add class="first" */

/* Testimonials */
#testimonials{text-align:center;}
#testimonials li:last-child{margin-bottom:0;}/* Used when elements stack in smaller viewports */
#testimonials blockquote{max-width:80%; margin:0 auto 30px; padding:20px; line-height:2rem; font-size:1.2rem;}
#testimonials blockquote::before{top:10px; left:10px;}
#testimonials blockquote::after{display:block; position:absolute; bottom:-15px; left:50%; margin-left:-15px; width:0; height:0; content:""; border:15px solid transparent; border-bottom:none;}
#testimonials figure *{margin:0; line-height:1;}
#testimonials figure img{margin:0 0 15px 0;}
#testimonials figcaption .heading{font-size:1.2rem; font-weight:700;}
#testimonials figcaption em{font-size:.8rem;}

/* Latest - Blog posts etc. */
#latest > li:last-child{margin-bottom:0;}/* Used when elements stack in small viewports */
#latest article .meta{display:block; margin:0 0 30px 0; padding:5px 10px;}
#latest article .meta li{display:block; float:left; width:50%; font-size:.8rem;}
#latest article .meta li:last-child{text-align:right;}
#latest article .meta li i{margin-right:5px;}
#latest article .excerpt{position:relative; margin:0 0 30px 0; padding:0 0 0 65px;}
#latest article .excerpt .heading{margin:0 0 15px 0; font-size:1.2rem;}
#latest article .excerpt time{display:block; position:absolute; top:0; left:0; width:54px;}
#latest article .excerpt time *{display:block; margin:0; padding:0; text-align:center; text-transform:uppercase; font-style:normal; line-height:1;}
#latest article .excerpt time strong{padding:12px 0; font-size:18px; border-bottom:1px solid; opacity:.5;}
#latest article .excerpt time em{padding:8px 0;}
#latest article .excerpt p{margin:0; padding:0;}
#latest article footer{text-align:right;}

/* Comments */
#comments ul{margin:0 0 40px 0; padding:0; list-style:none;}
#comments li{margin:0 0 10px 0; padding:15px;}
#comments .avatar{float:right; margin:0 0 10px 10px; padding:3px; border:1px solid;}
#comments address{font-weight:bold;}
#comments time{font-size:smaller;}
#comments .comcont{display:block; margin:0; padding:0;}
#comments .comcont p{margin:10px 5px 10px 0; padding:0;}

#comments form{display:block; width:100%;}
#comments input, #comments textarea{width:100%; padding:10px; border:1px solid;}
#comments textarea{overflow:auto;}
#comments div{margin-bottom:15px;}
#comments input[type="submit"], #comments input[type="reset"]{display:inline-block; width:auto; min-width:150px; margin:0; padding:8px 5px; cursor:pointer;}

/* Sidebar */

.sidebar .sdb_holder{margin-bottom:50px;}
.sidebar .sdb_holder:last-child{margin-bottom:0;}

.form-cards {
	margin-top: 80px;

}
.form-cards h1{
	align-items: center;
	text-align: center;
	font-size: 2.4rem;
}
.form-cards p{
	align-items: center;
	text-align: center;
	font-size: 1.2rem;
}

.card {
	width: 100% !important;
	margin: 15px 0;
 }
.card-body p{
	text-align: left;
}


/* Contact Details
--------------------------------------------------------------------------------------------------------------- */
#ctdetails{padding:50px 0;}
#ctdetails ul li div{position:relative; min-height:45px; padding:0 0 0 60px; line-height:1;}
#ctdetails ul li div i{position:absolute; top:0; left:0; width:45px; height:45px; line-height:43px; font-size:16px; text-align:center; border:1px solid; border-radius:50%;}
#ctdetails ul li div span{display:block; padding:4px 0 0 0;}
#ctdetails ul li div strong{display:block; margin:0 0 8px 0; text-transform:capitalize;}


/* Footer
--------------------------------------------------------------------------------------------------------------- */
#footer{padding:80px 0;}

#footer .heading{margin-bottom:50px; font-size:1.2rem;}


#footer input{display:block; width:100%; padding:8px; border:1px solid;}
#footer button{padding:8px 18px 10px; text-transform:uppercase; font-weight:400; cursor:pointer; border:1px solid;}

#footer .linklist li{display:block; margin-bottom:15px; padding:0 0 15px 0; border-bottom:1px solid;}
#footer .linklist li:last-child{margin:0; padding:0; border:none;}
#footer .linklist li::before, #footer .linklist li::after{display:table; content:"";}
#footer .linklist li, #footer .linklist li::after{clear:both;}

#footer .contact.linklist li, #footer .contact.linklist li:last-child{position:relative; padding-left:40px;}
#footer .contact li *{margin:0; padding:0; line-height:1.6;}
#footer .contact li i{display:block; position:absolute; top:0; left:0; width:30px; font-size:16px; text-align:center;}

#footer .latestimg > li{display:inline-block; float:left; width:30%; margin:0 0 5% 5%;}
#footer .latestimg > li:nth-last-child(-n+3){margin-bottom:0;}/* Removes bottom margin from the last three items - margin is restored in the media queries when items stack */
#footer .latestimg > li:nth-child(3n+1){margin-left:0; clear:left;}/* Removes the need to add class="first" */
#footer .latestimg > li img{width:100%;}/* Force the image to resize to take the full space - may have to be changed for tablets, depends on personal preference */
#footer .latestimg > li a.imgover{display:block;}

.imgover img {
	min-width: 100%;
	height: 100%;
	max-height: 250px;
	min-height: 250px;
}
/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright{padding:20px 0;}
#copyright *{margin:0; padding:0;}


/* Transition Fade
This gives a smooth transition to "ALL" elements used in the layout - other than the navigation form used in mobile devices
If you don't want it to fade all elements, you have to list the ones you want to be faded individually
Delete it completely to stop fading
--------------------------------------------------------------------------------------------------------------- */
/**, *::before, *::after{transition:all .3s ease-in-out;}*/
#mainav form *{transition:none !important;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul, nav ol{margin:0; padding:0; list-style:none;}

#mainav, #breadcrumb, .sidebar nav{line-height:normal;}
#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{position:absolute; font-family: "Font Awesome\ 5 Free", serif; font-weight:900; font-size:10px; line-height:10px;}

/* Top Navigation */
#mainav{ margin-right: 30px}
#mainav ul{text-transform:uppercase;}
#mainav ul ul{position:absolute; width:180px; text-transform:none; z-index:9999;right: 0; visibility:hidden; opacity:0;}
#mainav ul ul ul{left:180px; top:0;}
#mainav li{display:inline-block; position:relative; margin:0 15px 0 0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:30px 0;}
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav .drop{padding-left:15px;}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
#mainav .drop::after{top:35px; left:5px;}
#mainav li li .drop::after{top:15px; left:5px;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}

#mainav form{display:none; width:100%; margin:0; padding:0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
#mainav form select{width:100%; padding:5px; border:none;}
#mainav form select option{margin:5px; padding:0; border:none;}

/* Breadcrumb */
#breadcrumb{padding:150px 0 30px;}
#breadcrumb ul{margin:0; padding:0; list-style:none; text-transform:uppercase;}
#breadcrumb li{display:inline-block; margin:0 6px 0 0; padding:0;}
#breadcrumb li a{display:block; position:relative; margin:0; padding:0 12px 0 0; font-size:12px;}
#breadcrumb li a::after{top:4px; right:0; content:"\f0da";}
#breadcrumb li:last-child a{margin:0; padding:0;}
#breadcrumb li:last-child a::after{display:none;}
#breadcrumb .heading{margin:0; font-size:2rem;}

/* Sidebar Navigation */
.sidebar nav{display:block; width:100%;}
.sidebar nav li{margin:0 0 3px 0; padding:0;}
.sidebar nav a{display:block; position:relative; margin:0; padding:5px 10px 5px 15px; text-decoration:none; border:solid; border-width:0 0 1px 0;}
.sidebar nav a::after{top:10px; left:5px; content:"\f0da";}
.sidebar nav ul ul a{padding-left:35px;}
.sidebar nav ul ul a::after{left:25px;}
.sidebar nav ul ul ul a{padding-left:55px;}
.sidebar nav ul ul ul a::after{left:45px;}

/* Pagination */
.pagination{display:block; width:100%; text-align:center; clear:both;}
.pagination li{display:inline-block; margin:0 2px 0 0;}
.pagination li:last-child{margin-right:0;}
.pagination a, .pagination strong{display:block; padding:8px 11px; border:1px solid; background-clip:padding-box; font-weight:normal;}

/* Back to Top */
#backtotop{z-index:999; display:inline-block; position:fixed; visibility:hidden; bottom:20px; right:20px; width:36px; height:36px; line-height:36px; font-size:16px; text-align:center; opacity:.2;}
#backtotop i{display:block; width:100%; height:100%; line-height:inherit;}
#backtotop.visible{visibility:visible; opacity:.5;}
#backtotop:hover{opacity:1;}


/* Tables
--------------------------------------------------------------------------------------------------------------- */
table, th, td{border:1px solid; border-collapse:collapse; vertical-align:top;}
table, th{table-layout:auto;}
table{width:100%; margin-bottom:15px;}
th, td{padding:5px 8px;}
td{border-width:0 1px;}


/* Gallery
--------------------------------------------------------------------------------------------------------------- */
#gallery{display:block; width:100%; margin-bottom:50px;}
#gallery figure figcaption{display:block; width:100%; clear:both;}
#gallery li{margin-bottom:30px;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Colours
--------------------------------------------------------------------------------------------------------------- */
body{color:#A5A6AA; background-color:#161C21;}
a{color:#386995;}
a:active, a:focus{background:transparent !important;}/* IE10 + 11 Bugfix - prevents grey background */
hr, .borderedbox{border-color:#D7D7D7;}
label span{color:#FF0000; background-color:inherit;}
/*input:focus, textarea:focus, *:required:focus{border-color:#B946AD !important;}*/

.overlay{color:#FFFFFF; background-color:inherit;}
.overlay::after{color:inherit; background-color:rgba(0,0,0,.45);}
.overlay.light{color:#474747;}
.overlay.light::after{background-color:rgba(255,255,255,.7);}

.coloured{color:#FFFFFF; background-color:#A032AB;}
.coloured .btn, .coloured .btn.inverse:hover{color:#FFFFFF; background-color:#161C21; border-color:#ffffff;}

.btn, .btn.inverse:hover{color:#FFFFFF; background-color: rgba(0,0,0,0.3); border-color: inherit;}
.btn:hover, .btn.inverse{color:#FFFFFF; background-color: transparent; border-color:inherit;}

.imgover:hover::before{background-color: rgba(45, 113, 185, 0.5);/* #B946AD */}
.imgover, .imgover:hover::after{color:#FFFFFF;}

.img-thumbnail:hover::before{background-color: rgba(45, 113, 185, 0.5);/* #B946AD */}
.img-thumbnail, .img-thumbnail:hover::after{color:#FFFFFF;}

.heading.underline::after{background-color:#A032AB;}


/* Rows */
.row0{color:#FFFFFF; background-color:#161C21;}
.row1{color:#FFFFFF; background-color:rgba(0,0,0,.55);}
.row2{color:#474747; background-color:#F4F4F4;}
.row3{color:#474747; background-color:#FFFFFF;}
.row4{color:#A5A6AA; background-color:#000000;}
.row5, .row5 a{color:#A5A6AA; background-color:#161C21;}


/* Top Bar */

#topbar #searchform input{color:#FFFFFF; background:#A032AB;}
#topbar #searchform button{color:#FFFFFF; background:transparent;}


/* Header */
#header #logo h1 a{color:inherit;}



/* Content Area */
#introblocks figure figcaption{color:#FFFFFF; background-color:rgba(0,0,0,.55);}
.img-thumbnail{color:#FFFFFF; background-color:rgba(0,0,0,.55);}

.imgroup article a{color:inherit;}
.imgroup article:hover a{color:#B946AD;}

.team figure{box-shadow:0px 0px 15px rgba(0,0,0,.1);}
.team figure:hover{color:#FFFFFF; background-color:#B946AD;}

#testimonials blockquote{color:#FFFFFF; background-color:rgba(255,255,255,.5);}
#testimonials blockquote::before{color:rgba(0,0,0,.2);}
#testimonials blockquote::after{border-top-color:rgba(255,255,255,.5);}
#testimonials:hover blockquote{color:#474747; background-color:rgba(255,255,255,1);}
#testimonials:hover blockquote::before{color:rgba(0,0,0,.05);}
#testimonials:hover blockquote::after{border-top-color:rgba(255,255,255,1);}


/* Latest */
#latest article .meta, #latest article .meta *{color:#FFFFFF; background-color:#161C21;}
#latest article .excerpt time{color:#474747; background-color:#F3F3F3;}
#latest article .excerpt time strong{border-color:rgba(0,0,0,.2);}


/* Contact Details */
#ctdetails ul li div a{color:#FFFFFF;}
#ctdetails ul li div a i{color:rgba(255,255,255,.5); border-color:rgba(255,255,255,.5);}
#ctdetails ul li div:hover a i{color:inherit; border-color:rgba(255,255,255,1);}
#ctdetails ul li div strong{color:#FFFFFF;}


/* Footer */
#footer .heading{color:#FFFFFF;}
#footer hr, #footer .borderedbox, #footer .linklist li{border-color:rgba(255,255,255,.1);}

#footer input, #footer button{border-color:transparent;}
#footer input{color:#474747; background-color:rgba(255,255,255,1);}
#footer input:focus{border-color:#B946AD;}
#footer button{color:#FFFFFF; background-color:#B946AD;}
#footer button:hover{color:inherit; background-color:transparent; border-color:inherit;}


/* Navigation */
#mainav{}
#mainav li a{color:inherit;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:#386995; background-color:inherit;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(57, 104, 146, .5);/* #B946AD */ border-color:#060a8c;}
#mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:#386995;}
#mainav form select{color:#474747; background-color:#FFFFFF;}

#breadcrumb a{color:inherit; background-color:inherit;}
#breadcrumb li:last-child a{color:#B946AD;}

.container .sidebar nav a{color:inherit; border-color:#D7D7D7;}
.container .sidebar nav a:hover{color:#B946AD;}

.pagination a, .pagination strong{border-color:#D7D7D7;}
.pagination .current *{color:#FFFFFF; background-color:#B946AD;}

#backtotop{color:#FFFFFF; background-color:#386995;}


/* Tables + Comments */
table, th, td, #comments .avatar, #comments input, #comments textarea{border-color:#D7D7D7;}
th{color:#FFFFFF; background-color:#373737;}
tr, #comments li, #comments input[type="submit"], #comments input[type="reset"]{color:inherit; background-color:#FBFBFB;}
tr:nth-child(even), #comments li:nth-child(even){color:inherit; background-color:#F7F7F7;}
table a, #comments a{background-color:inherit;}


/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */


/* Media Queries
--------------------------------------------------------------------------------------------------------------- */


/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width:1140px){
	.hoc{max-width:1140px;}
}

@media screen and (min-width:978px) and (max-width:1140px){
	.hoc{max-width:95%;}
}


/* Mobile Devices
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:978px){
	.hoc{max-width:90%;}

	#logo{padding:30px 0;}
	#header #logo{margin-top:0;}

	/*#mainav ul{display:none;}*/
	#mainav form{display:block; margin-top:2px;}

	#comments input[type="reset"]{margin-top:10px;}
	.pagination li{display:inline-block; margin:0 5px 5px 0;}

	#copyright p:first-of-type{margin-bottom:10px;}
}

@media screen and (max-width:750px){
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	/*.fl_left, .fl_right{display:block; float:none;}*/
	.group .group > *:last-child, .clear .clear > *:last-child, .clear .group > *:last-child, .group .clear > *:last-child{margin-bottom:0;}/* Experimental - Needs more testing in different situations, stops double margin when stacking */
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0;}

	/*#topbar{text-align:center;}*/
	/*#topbar > div:first-of-type ul{margin:0 0 10px 0;}*/
	#topbar #searchform{display:none; color:#B946AD;}/* This is personal preference - remove if not required */

	/*#header{text-align:center;}*/
	/*#header #logo{margin:0 0 15px 0;}*/

	#pageintro article, #pageintro article p{max-width:none;}
	#pageintro .heading{font-size:2rem;}

	.sectiontitle{max-width:none;}

	#introblocks > ul{margin:0 auto 80px;}
	#introblocks > ul, #latest article{max-width:348px;}/* Restrict the width to the one_third grid element */
	.team figure{max-width:300px;}/* Restrict the width to the image width */
	#introblocks > ul > li, .imgroup li:nth-last-child(-n+3){margin-bottom:50px;}
	.clients li:nth-last-child(-n+4){margin-bottom:20px;}
	#introblocks > ul > li:last-child, .imgroup li:last-child, .clients li:last-child{margin-bottom:0;}

	#footer{padding-bottom:50px;}/* Not needed - just looks better */
	#footer .latestimg > li, #footer .latestimg > li:nth-last-child(-n+3){display:inline-block; float:none; width:auto; margin:0 5% 5% 0;}
	#footer .latestimg > li:last-child{margin-bottom:0;}
	#footer .latestimg > li img{width:auto;}
}

@media screen and (max-width:450px){
	#topbar > div:first-of-type ul li{display:block; margin:0;}

	#latest article .excerpt{padding:0;}
	#latest article .excerpt time{display:none;}
	#latest article footer{text-align:left;}
}

/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:650px){
	.scrollable{display:block; width:100%; margin:0 0 30px 0; padding:0 0 15px 0; overflow:auto; overflow-x:scroll;}
	.scrollable table{margin:0; padding:0; white-space:nowrap;}

	.inline li{display:block; margin-bottom:10px;}
	.pushright li{margin-right:0;}

	.font-x2{font-size:1.6rem;}
	.font-x3{font-size:1.8rem;}
}
.wrapper.row1 {
	z-index: 16;
}