.content {
  min-height: 100vh; /* will cover the 100% of viewport */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0; /* height of your footer */
}

.header {
  width: 100%;
  text-align: center;
  h1{
    font-weight: 300;
    letter-spacing: -3px;
    line-height: 100px;
    font-size: 70px;
    //background: linear-gradient(135deg, #d0e4f7 0%,#73b1e7 24%,#639cce 50%,#d1eaff 79%,#87bcea 100%);
    background: #ffffff; /* Old browsers */
    //background: -moz-linear-gradient(135deg, #d0e4f7 0%,#73b1e7 24%,#639cce 50%,#d1eaff 79%,#87bcea 100%); /* FF3.6-15 */
    //background: -webkit-linear-gradient(135deg, #d0e4f7 0%,#73b1e7 24%,#639cce 50%,#d1eaff 79%,#87bcea 100%); /* Chrome10-25,Safari5.1-6 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefcea', endColorstr='#f1da36', GradientType=0);
    -webkit-background-clip: text;
    color: white;
  }
}

.container.form.section{
    height: 100% !important;
}
.container.form{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 50%;
  position: relative;


  .blur {
    width: 100%;
    //border-radius: 30px;
    background: rgba(0,0,0,0.7);
    //filter: blur(30px);
    position: absolute;
    height: 100%;
    //z-index: -1;
    box-shadow: 0 10px 40px rgba(0,0,0,0.7);
  }
  .caption {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color: #fffeea;
    h2 {
      font-size: 40px;
    }

  }
  .form {
    font-family: "Roboto", sans-serif;
    position: relative;
    width: 100%;
    text-align: center;
    //margin-top: 40px;
    .form-group {
      width: 150px;
      display: flex;
      flex-direction: column;
      position: relative;
      margin: 0 auto;
      //margin: 50px 0 80px;
      button {
        cursor: pointer;
        letter-spacing: 1px;
        background: rgba(0,0,0,0.3);
        border: 2px solid rgba(138, 138, 138, 0.5);
        color: #e2e2e2;
        outline: none;
        padding: 0 30px;
        line-height: 44px;
        height: auto;
        border-radius: 30px;
        width: auto;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;

      }
    }
  }

}

.form {
  //font-family: "Roboto", sans-serif;
  position: relative;
  width: 100%;
  text-align: center;
  //margin-top: 40px;

  .group.file {
    width: 180px;
  }
  .group {
    position: relative;
    margin: 40px auto;
    width: 330px;
    display: flex;
    flex-direction: column;

    input, textarea {
      background: rgba(0,0,0,0);
      font-size: 18px;
      padding: 10px 0 !important;
      display: block;
      width: 100%;
      height: 40px;
      border: none;
      border-bottom: 1px solid #757575;
      color: #d3f3f5;
    }
    textarea {
      min-height: 40px;
    }
    input:focus , textarea:focus {
      outline: none;
    }
    input.file {
      width: 100%;
    }
    label {
      color: #c1d4da;
      font-size: 15px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    label.file{

      width: 100%;
      left: 5px;
    }

    /* active state */
    input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
      left: 0;
      top: -20px;
      font-size: 14px;
      color: #96a3a7;
    }
    .bar {
      position: relative;
      display: block;
    }
    .bar.file {
      width: 100%;
    }
    .bar:before, .bar:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: #386995;
      transition: 0.4s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    .bar:before {
      left: 50%;
    }
    .bar:after {
      right: 50%;
    }

    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after,
    textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
      width: 50%;
    }

    .highlight {
      position: absolute;
      height: 60%;
      width: 350px;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.5;
    }
  }
}

/* active state */
input:focus ~ .highlight, textarea:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}


.imagePreview {
  width: 100%;
  height: 190px;
  //background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
  background-color: rgba(0,0,0,0.2);
  display: flex;
  border: 1px solid rgb(100, 99, 65);
  border-bottom: none;
  box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);

  img{
    fill: #f5f1a9;
    margin-left: auto;
    margin-right: auto;
    width: 50px;

  }

}
.btn-primary
{
  display:block;
  border-radius:0px;
  box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
  margin-top:-5px;
  cursor: pointer;
  letter-spacing: 1px;
  background: rgba(0,0,0,0.3);
  border: 2px solid rgba(179, 176, 122, 0.55);
  color: #f5f1a9;
  outline: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}
.btn-primary:hover{
  background: rgba(0,0,0,0.3);
  border: 2px solid #f5f1a9;
}

.btn-primary:active {
  outline: none;
  background: #f5f1a9 !important;
  color: white !important;
}
.imgUp
{
  margin-bottom:15px;
}
.del
{
  position:absolute;
  top:0px;
  right:15px;
  width:30px;
  height:30px;
  text-align:center;
  line-height:30px;
  background-color:#999;
  cursor:pointer;
}
.imgAdd
{
  width:30px;
  height:30px;
  border-radius:50%;

  background-color: rgba(185, 165, 11, 0.37);
  color:#fff;
  box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
  text-align:center;
  line-height:30px;
  margin-top:0px;
  cursor:pointer;
  font-size:15px;
}

input.cover.yourClass, input.cover{
  margin: 0 auto;
  width: 15px !important;
}

button {
  cursor: pointer;
  letter-spacing: 1px;
  background: rgba(0,0,0,0.3);
  border: 2px solid rgba(179, 176, 122, 0.55);
  color: #f5f1a9;
  outline: none;
  padding: 0 30px;
  line-height: 44px;
  height: auto;
  border-radius: 30px;
  width: auto;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;

}

.link {
  color: #007bff;
}
.link:hover {
  color: #060a8c;
}
@media (max-width:650px)  {
  .group {
    width: 220px;
  }
}
