<template>
    <div id="app">
        <div id="nav"></div>
        <router-view />
    </div>
</template>

<style lang="scss"></style>
<script>
import { AxiosInstance as axios } from "axios";
import { AUTH_LOGOUT } from "./store/actions/auth";

export default {
    created() {
        axios.interceptors.response.use(undefined, function (err) {
            return new Promise(function (resolve, reject) {
                if (
                    err.status === 401 &&
                    err.config &&
                    !err.config.__isRetryRequest
                ) {
                    // if you ever get an unauthorized, logout the user
                    this.$store.dispatch(AUTH_LOGOUT);
                    // you can also redirect to /login if needed !
                }
                throw err;
            });
        });
    }
};
</script>
